<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arowwai Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/admin/js/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/logo/mini-logo.png" />
</head>
<body>

    <style>

        .nav-item i{
            font-size: 1.2rem;
            line-height: 1;
            margin-right: 1rem;
        }


        .card-title{
            color: #4b49ac !important;
            font-size: 1.5rem !important;
        }

        tr th{
            color: #248afd;
        }




</style>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("Header")


        <style>

            .basic{
                display: flex;
                height: 70px;
                background: #54c0ff;
            }

            .basic-title {
                color: white;
                font-size: 18px;
            }

   



        </style>


        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @await Component.InvokeAsync("Sidebar")



            <!-- partial -->
            @RenderBody()
            <!-- plugins:js -->
            <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
            <script src="~/admin/vendors/datatables.net/jquery.dataTables.js"></script>
            <script src="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
            <script src="~/admin/js/dataTables.select.min.js"></script>

            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script src="~/admin/js/off-canvas.js"></script>
            <script src="~/admin/js/hoverable-collapse.js"></script>
            <script src="~/admin/js/template.js"></script>
            <script src="~/admin/js/settings.js"></script>
            <script src="~/admin/js/todolist.js"></script>
            <script src="~/admin/js/file-upload.js"></script>
            @* <script src="~/admin/js/typeahead.js"></script> *@
            <script src="~/admin/js/select2.js"></script>
            <!-- endinject -->

            <!-- Custom js for this page-->

            <script src="~/admin/js/dashboard.js"></script>
            <script src="~/admin/js/Chart.roundedBarCharts.js"></script>
            <!-- End custom js for this page-->
</body>

</html>
