@model List<Draft>


<style>
    tr td {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1.2rem !important;
    }

    .btn {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

</style>

<div class="col-lg grid-margin stretch-card">
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title" >Draft</h4>


            @if (Model.Count <= 0 || !Model.Any(m => m.Status))
            {
                <div class="alert alert-info mt-5" role="alert">
                    You don't have any saved drafts.<hr>
                    Saving a draft allows you to keep a message you aren't ready to send yet.
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Subject</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Where(m => m.Status == true))
                            {
                                <tr>
                                    <td style="font-style:italic;color:red">Draft</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a asp-action="DraftMessageDetails" asp-route-id="@item.DraftId" class="btn btn-info">View</a>
                                        <a asp-action="DraftOut" asp-route-id="@item.DraftId" class="btn btn-outline-danger btn-fw">Delete</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>

            }

        </div>
    </div>
</div>


