@model Message


<style>

    .form-group label {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 1.1rem;
    }

    .btn {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 1.1rem;
    }

    .form-control {
        font-family: inherit;
    }

    .name {
        background-color: #e9ecef00 !important;
        border: none;
        width: 160px;
        font-size: 1.1rem;
        font-family: inherit;
        text-align: center;
        font-weight: 500;
    }

    .email {
        font-style: italic;
        font-family: inherit;
        border: none;
        background-color: #e9ecef00 !important;
    }

</style>

<div class="col-12 grid-margin stretch-card">
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title" style="color: #504b8e;">
                Message
            </h4>

            <form class="forms-sample">
                <div class="form-group">
                    <label class="title" for="exampleInputName1">Recipient's mailing address</label>
                    <div style="display:flex;">
                        <input type="email" disabled="disabled" class="form-control name" id="exampleInputName1" asp-for="ReceiverName">
                        <input type="text" disabled="disabled" class="form-control email" id="exampleInputName1" asp-for="ReceiverMail" value="@Model.ReceiverMail">
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Subject</label>
                    <input type="text" disabled="disabled" class="form-control" id="exampleInputEmail3" asp-for="Subject">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Textarea</label>
                    <textarea disabled="disabled" class="form-control" id="exampleTextarea1" asp-for="Content" rows="4"></textarea>
                </div>

                <a asp-action="Inbox" class="btn btn-danger">Back</a>
            </form>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>


<script>
    $(document).ready(function () {
        var senderMail = $(".email").val();
        $(".email").val("< " + senderMail + " >");
    });

</script>

