@model UserUpdateVM

@{
    ViewData["Title"] = "Index";
}


<style>
    .form-group label {
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1.2rem !important;
    }


    .form-group img {
        border-radius: 50%;
        height: 132px;
    }

</style>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Profile</h4>
            <form method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputSurname1">Surname</label>
                    <input type="text" class="form-control" asp-for="Surname" placeholder="Surname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputConfirmPassword1">Confirm New Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm New Password">
                </div>
                <div class="form-group">
                    <label>Profile Picture</label>
                    @if (!string.IsNullOrEmpty(Model.PictureUrl))
                    {
                        <img src="~/userimage/@Model.PictureUrl" alt="User Picture" class="img-thumbnail" style="max-width: 200px;">
                    }
                    <input type="file" class="file-upload-default" asp-for="Picture">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Choose a file...">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-controller="EMailMessage" asp-action="Inbox" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
